@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the @import in styles/globals.css from triggering tailwind conflict */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

