.star  { color: var(--color-star); font-size: 13px; fill: var(--color-star); width: 1rem; height: 1rem; }

.star::before, .star::after {
      box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.compact .star,
.compact .value,
.compact .count { font-size: 11px; }


@media (min-width: 1024px) {
  .star  { font-size: 20px; }
}
